  /* CSS box-sizing Solution - https://www.w3schools.com/css/css3_box-sizing.asp */
 /*box sizing is needed to build a grid view, making sure padding and border are taken into account with total height and width*/
 * {
     box-sizing: border-box;
 }


 
 /*https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_12columnresponsive*/
 .container {
     display: grid;
     grid-template-columns: repeat(12, [col-start] 1fr);
     gap: 1rem;
 }

 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*https://www.w3schools.com/Css/css_navbar_vertical.asp*/


/*Display the nav items as blocks rather than text under each other*/
li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
 
  background-color: rgb(100, 100, 100);
  color: white;
}


li {
 
  border-bottom: 1px solid #555555;
}

li:last-child {
  border-bottom: none;
}
















/* Mobile first */
.container > * {
  padding: 1rem;
  grid-column: col-start / span 12;
}

/*ref for @media - https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
/* Small devices (portrait tablets and large phones, 600px and up) */

/*Removed as nav bar not great at the side for small devices

@media (min-width: 600px) {
  .nav {
    grid-column: col-start / span 2;
   
  }
  .content {
    grid-column: col-start 3 / span 10;

  }
  .footer {
    grid-column: col-start / span 12;
  }
}
  */

 /* Medium devices Upwards (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }
  .content {
    grid-column: col-start 3 / span 10;
    grid-row: 2 / 4;
  }
  
  .footer {
    grid-column: col-start / span 12;
  }
  nav ul {
    flex-direction: column;
  }
}

 /*Adapted from https://www.w3schools.com/css/css_pseudo_classes_interactive.asp 23.09.2026 */
 /* unvisited link */
 a:link {
     color: rgb(28, 45, 196);
 }

 /* visited link */
 a:visited {
     color: rgb(209, 8, 182);
 }

 /* mouse over link */
 a:hover {
     color: rgb(16, 207, 58);
 }

 /* selected link */
 a:active {
     color: rgb(230, 4, 4);
 }

 .skip {
     position: absolute;
     left: -10000px;
     top: auto;
     width: 1px;
     height: 1px;
     overflow: hidden;
 }

 .skip:focus {
     position: static;
     width: auto;
     height: auto;
 }

 .fancy-details {
     margin: 1.25rem;
     padding: 1.25rem 1.5rem;
     background-color: rgb(240, 248, 255);
     border: 2px solid rgb(209, 230, 255);
     border-radius: 6px;
 }

 .nav-design {
   /*  margin: 1.25rem;
     padding: 1.25rem 1.5rem;  remove as mobile version affected */
     background-color: rgba(245, 245, 245,0.5);
     border: 2px solid rgb(169, 169, 169);
     border-radius: 6px;
 }


 body {
     background-color: rgba(248, 248, 255, 0.5);
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.5;
 }

/*external stylesheet move body_ https://www.w3schools.com/css/css_howto.asp */

/*Images https://www.w3schools.com/css/css_rwd_images.asp*/
 img {
     max-width: 100%;
     height: auto;
 }
